/* Sidebar */

$sideBarSize: 400px;

/* Profile Picture */

$maxDimForPhone: 200px;
$maxDimBigScreen: 300px;

/* Navbar size for mobile screen*/
$navbarHeight: 12.5vh;

/* Skills Container for big screen */
$max_sc_bp: 20rem;
