@use '../../abstracts/' as *;

.genericLi {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style: none;
  text-decoration: none;
}

.genericLink {
  text-decoration: none;
  color: $white;
}
