@use "../../abstracts/" as *;

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 1px;
  font-family: $baloo;
}

@media screen and (max-width: $med_bp_min) {
 .cardContainer {
   align-items: center;
 }
}