@use '../../abstracts' as *;

.leftSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $sideBarSize;
    min-height: 100vh;
    background-color: $black;
    color: $light;
    letter-spacing: 1.5px;
    border-right: 0.5px solid $gray-600;
    position: fixed;
    
}

.leftArticleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: $sideBarSize;
    min-height: 100vh;
}

.leftSectionList {
    display: flex;
    flex-direction: column;
    
    padding-left: 0;
    list-style: none;
    font-family: $baloo;
    font-size: 1.3rem;
}

.leftSectionTitle {
    font-family: $raleway;
    font-size: 1.75rem;
}

.leftSectionCopyStyles {
    font-family: $baloo;
}