@use "../../../abstracts/" as *;

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.liData {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: $white;
}

.liDataContent {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: $gray-600;

  display: flex;
  flex-direction: column;
}

.dataAndButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataAndImgContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;

  transition: transform 0.2s ease-in-out;
  animation: up-to-down 500ms ease-in;
}

.dataContainer {
  display: flex;
}

.figure {
  width: 250px;
}

.personalDescription {
  color: $gray-400;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
}

.photoAndDescriptionContainer {
  display: flex;
  background-color: $dark;
  color: $light;
  transition: transform 0.2s ease-in-out;
  animation: down-to-up 500ms ease-in;
}

.skillsButton {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  height: 3rem;
  text-align: center;

  &:hover {
    background: linear-gradient(45deg, $warning 30%, #ff8e53 90%);
    transform: scale(1.1);
    color: $dark;
  }
}

@media screen and (max-width: $max_bp_min) {
  .dataAndImgContainer {
    flex-wrap: wrap;
  }

  .photoAndDescriptionContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


@keyframes up-to-down {
  0% {
    transform: translateY(2rem);
  }
  100% {transform: translateY(0);}
}

@keyframes down-to-up {
  0% {
    transform: translateY(-2rem);
  }
  100% {transform: translateY(0);}
}