@use "../../../abstracts" as *;

.homeContainer {
  display: flex;
  background-color: $dark;
  color: $light;
  transition: transform 0.2s ease-in-out;
  animation: move-left 500ms ease-in;
}

/* CARD */
.cardDescription {
  display: flex;
  flex-wrap: wrap;
}

/* LIST */
.socialMediaList {
  display: flex;
  padding-left: 0;
  list-style: none;
  color: $white;
}

@media screen and (max-width: $min_bp_min) {
  .homeContainer {
    flex-direction: column;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(2rem);
  }
  100% {transform: translateX(0);}
}