@use "../../../abstracts" as *;

.cardContainer {
  display: flex;
  background-color: $dark;
  color: $light;
}

/* CARD */
.cardDescription {
  display: flex;
  flex-wrap: wrap;
}

/* LIST */
.socialMediaList {
  display: flex;
  padding-left: 0;
  list-style: none;
  color: $white;
}
