@use "../../../abstracts" as *;

.homeContainer {
  display: flex;
  background-color: $dark;
  color: $light;
}

/* CARD */
.cardDescription {
  display: flex;
  flex-wrap: wrap;
}

/* LIST */
.socialMediaList {
  display: flex;
  padding-left: 0;
  list-style: none;
  color: $white;
}

@media screen and (max-width: $med_bp_min) {
  .homeContainer {
    flex-direction: column;
  }
}